<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profil</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="profile-container">
    <ion-avatar>
      <img alt="Kosong" src="../../assets/img/dina.jpeg" />
    </ion-avatar>
    <h1 class="profile-name">Dina Putriana</h1>
    <p class="profile-title">Mahasiswa Politala</p>
    <div class="social-links">
      <ion-icon name="logo-instagram"></ion-icon>
      <a href="https://www.instagram.com/invites/contact/?i=1u3h4srb3zv92&utm_content=2jytcz5">@dnptri_</a>
    </div>
    <div class="social-links">
      <ion-icon name="logo-tiktok"></ion-icon>
      <a href="https://www.tiktok.com/@gddaycaramel?_t=8g7FtovIqTh&_r=1">@gddaycaramel</a>
    </div>
  </div>
</ion-content>
